<h1>My name is <%= @name %></h1>

<% if @name.nil? %>
<form action="/named-cat">
    <input type="text" name="name">
    <input type = "submit" value="Submit">
</form>
<% end %>

<div style='border: 8px dashed black; width: 454'>
<img src='http://bit.ly/1eze8aE'>
</div>
